
a {
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
	transition:all .3s;
	-webkit-transition:all .3s;
	text-decoration: none;
}
a:hover,a:active,a:focus{text-decoration:none!important}
img{max-width: 100%;}
body{font-size: 15px;margin:0;font-family: Arial, Helvetica, sans-serif !important; left: 0px;position: relative;overflow-x:hidden !important;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;}
body p{font-size:15px;margin:0;font-family: 'Roboto', sans-serif;}
html {
    line-height: 1.6rem;
    box-sizing: border-box;
    font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif !important;
}
body::-webkit-scrollbar{
	width: 10px;
}
body::-webkit-scrollbar-track{
	background-color: #eee;
}
body::-webkit-scrollbar-thumb{
	background-image: linear-gradient(-45deg , #006837,#003f22);
	border-radius: 50px;
  }

.clear60{clear:both;height:60px}
.clear40{clear:both;height:40px}
.clear20{clear:both;height:20px}
.clear10{clear:both;height:10px}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.nopadding{padding:0!important}
.nomargin{margin:0}
.fullwidth{width: 100%;}
.clwhite{color: #fff;}
.clblack{color: #000;}
.bold{font-weight: 700;}
.medi{font-weight: 500;}
.flex{display: flex;align-items: center;}
.flex-n{display: flex;}
.flex-bw{
	 display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-wrap{display: flex;flex-wrap: wrap;}
.show1199{display: none;}
.show991{display: none;}
.show767{display: none;}
.show480{display: none;}
.pd-0 {padding: 0;}

.row:before{content: unset;}
header{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.menu-sanpham {
	width: 270px !important;
}

.order {
	width: 100%;
	text-align: center;
}
.submit-order {
	min-width: 150px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	padding: 10px 20px;
	background-color: #0505ff;
	color: #ffff;
	font-size: 20px;
}
.phanchia {
	border-right: 3px solid #0505ff;
}

.modal-thanhtoan {
	position: fixed;
	top: 0;
	height: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 998;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.hinhthuc-thanhtoan {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	z-index: 999;
	border-radius: 10px;
	background-color: #ffff;
	transform: translate(-50%,-50%);
	padding: 20px 30px;
}

.snip1547 {
	background-color: transparent;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 17.5px;
	font-weight: 500;
	line-height: 48px;
	margin: 15px 30px;
	outline: none;
	padding: 0 43px 0 0;
	position: relative;
	text-transform: uppercase;
  }
  
  .snip1547 span {
	background-color: #c72544;
	border-radius: 5px 0 0 5px;
	padding: 10px 20px;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
  }
  
  .snip1547:after {
	font-family: FontAwesome;
	content: "\f0da";
	background-color: #c72544;
	position: absolute;
	right: 0%;
	height: 48px;
	padding: 1px 20px;
	top: 0;
	border-radius: 0 5px 5px 0;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
  }
  
  .snip1547:hover span,
  .snip1547.hover span {
	background-color: #ba2340;
  }
  
  .snip1547:hover:after,
  .snip1547.hover:after {
	margin-top: -5px;
	background-color: #da3655;
	box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
  }

.phuongthuc {
	transform: translateY(300px);
  }
  .profile-tabel {
	width: 800px;
  }
  .profile-tabel tr {
	height: 50px;
	line-height: 50px;
	text-align: left;
	font-weight: 500;
	font-size: 16px;
  }

  .editprofile {
	border: #8f6e6e 1px solid;
	border-radius: 5px;
	width: 400px;
	padding: 0 30px;
  }

  .capnhat-khach {
	margin: 0;
	padding: 0;
	height: 60px;
	width: 114px;
	border: none;
	outline: hidden;
  }

#navbar {
	border-bottom: #dfe8e4 3px solid;
	transition: 0.5s;
	z-index: 900;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
    background: #f8f8f8;
	padding: 25px 0;
}
#navbar.sticky {
	background: #f8f8f8;
	padding: 5px 0px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#search-toggle.sticky i {
	transition: 0.5s;
	color: #ffff;
}

/* new search */
.search-toggle {
    width: auto;
    margin: 0 auto;
    display: table;
}
.search-toggle input[type=text] {
    position: relative;
    padding: 15px 42px 15px 17px;
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 17px;
    border: #00502b 1px solid;
    border-radius: 30px;
    outline: none;
    transition: 0.2s;
    background: #fff;
	box-shadow: inset 0px 5px 5px rgba(150, 125, 125, 0.5);
}

.search_button {
	transform: translateX(-110%);
	background-color: transparent;
}
.search-toggle input[type=text]:hover {
	transition: 0.2s;
    width: 220px;
}
.search-toggle input[type=text]:focus {
	width: 220px;
	transition: 0.2s;
}
.search-toggle i {
    position: relative;
    left: -5px;
    top: -1px;
    font-size: 20px;
	color: #000;
}

.main-camket {
	margin-top: 100px !important;
}

.cart-empty {
	font-size: 15px;
	font-weight: 600;
	text-align: left;
	margin-left: 100px;
	color: #1c7430;
}

.custom-btn {
	width: 130px;
	height: 40px;
	color: rgb(7, 7, 7);
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.category-baiviet {
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    height: 20px;
	line-height: 20px;
}

.btn-7 {
background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
	line-height: 42px;
	padding: 0;
	border: none;
}
.btn-7 span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.btn-7:before,
.btn-7:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: rgba(251,75,2,1);
	box-shadow:
	-7px -7px 20px 0px rgba(255,255,255,.9),
	-4px -4px 5px 0px rgba(255,255,255,.9),
	7px 7px 20px 0px rgba(0,0,0,.2),
	4px 4px 5px 0px rgba(0,0,0,.3);
	transition: all 0.3s ease;
}
.btn-7:before{
	height: 0%;
	width: 2px;
}
.btn-7:after {
	width: 0%;
	height: 2px;
}
.btn-7:hover{
	color: rgba(251,75,2,1);
	background: transparent;
}
.btn-7:hover:before {
	height: 100%;
}
.btn-7:hover:after {
	width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: rgba(251,75,2,1);
	box-shadow:
	-7px -7px 20px 0px rgba(255,255,255,.9),
	-4px -4px 5px 0px rgba(255,255,255,.9),
	7px 7px 20px 0px rgba(0,0,0,.2),
	4px 4px 5px 0px rgba(0,0,0,.3);
	transition: all 0.3s ease;
}
.btn-7 span:before {
	width: 2px;
	height: 0%;
}
.btn-7 span:after {
	height: 2px;
	width: 0%;
}
.btn-7 span:hover:before {
	height: 100%;
}
.btn-7 span:hover:after {
	width: 100%;
}


.check-out-btn {
    border:none;
    background: transparent;
    padding:0 24px;
    font-size:16px;
    line-height:52px;
    font-family:'Open Sans Condensed', sans-serif;
    position:relative;
    color:#3E4651;
    cursor:pointer;
    letter-spacing: 0.5px;
}
.check-out-btn:before {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:50%;
	height:48px;
	background: transparent;
	border:2px solid #4AB9F2;
	z-index: -1;
	border-radius:5px;
	transition:0.3s ease-in-out;
}
.check-out-btn:after {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	background: #fff;
	height:30px;
	width:80%;
	z-index: -1;
	transition:0.3s linear;
}
.check-out-btn:hover:after {
	opacity:0;
	background: #4AB9F2;
}
.check-out-btn:hover {
	color:#fff;
}
.check-out-btn:hover:before {
	width:100%;
	background: #4AB9F2;
	box-shadow:0 10px 90px -2px rgba(#000,0.2);
}

.wide {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	background: transparent;
}

.login {
	position: relative;
	width: 100%;
	height: 700px;
	background: #cdc057;
	background: linear-gradient(180deg,#cdc057 0%, #a3e4a3 80%);
	background: -webkit-linear-gradient(180deg,#cdc057 0%, #a3e4a3 80%);
	background: -moz-linear-gradient(180deg,#cdc057 0%, #a3e4a3 80%);
}

.login-logo {
	position: absolute;
	top: 100px;
	right: 100px;
	width: 400px;
}
.container_slider{
	border: 1px #1111;
	margin: 0 auto;
	border-radius: 6px;
	}

	.z-index-10 {
		z-index: 10;
	}
	
.col-4_hiden{
	overflow:scroll;
	height: 29vw;
	}
.ratio_top{
	margin-top: 2px
}
.img-banner_sale{
	padding: 2px;
	
}

.shopping {
	display: flex;
	justify-content: space-between;
}
#top-up {
    font-size: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color:#00502b;
    bottom: 25px;
    right: 25px;
    display: none;
	transition: 0.3s;
}
#top-up:hover {
    color: #064628;
}

#wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.success {
	font-size: 14px;
	color: #198754;
	font-weight: 700;
	font-style: italic;
}

.success a {
    font-size: 17px;
    color: #00502b;
    font-weight: 800;
    text-decoration: underline;
}

.ok {
	margin-left: 20px;
	font-size: 14px;
	color: #198754;
	font-weight: 700;
	font-style: italic;
	animation: thongbao 3s;
	opacity: 0;
}

.notok {
	margin-left: 20px;
	font-size: 14px;
	color: #dc3545;
	font-weight: 700;
	font-style: italic;
	animation: thongbao 3s;
	opacity: 0;
}

@keyframes thongbao {
	0% {
		opacity: 1;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;

	}
}
@-webkit-keyframes my {
	0% { color: #198754; } 
	50% { color: #fff;  } 
	100% { color: #198754;  } 
}
@-moz-keyframes my { 
	0% { color: #198754;  } 
	50% { color: #fff;  }
	100% { color: #198754;  } 
}
@-o-keyframes my { 
	0% { color: #198754; } 
	50% { color: #fff; } 
	100% { color: #198754;  } 
}
@keyframes my { 
	0% { color: #198754;  } 
	50% { color: #fff;  }
	100% { color: #198754;  } 
} 
.test {
	font-weight:bold;
	-webkit-animation: my 0.5s infinite;
	-moz-animation: my 0.5s infinite; 
	-o-animation: my 0.5s infinite; 
	animation: my 0.5s infinite;
}

.nav-tabs {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	border-bottom: 3px solid #ddd;
}

.nav-tabs li {
	margin-right: 10px;
}

.nav-tabs li a {
	display: block;
	padding: 6px 10px;
	text-decoration: none;
	position: relative;
}

.nav-tabs li a::after {
	content: '';
	height: 3px;
	bottom: -3px;
	left: 0;
	width: 100%;
	position: absolute;
	background-color: transparent;
}

.nav-tabs li.active a {
	color: #e74c3c;
}
.nav-tabs li.active a::after, .nav-tabs li:hover a::after {
	background-color: #e74c3c;
}

.tab-content {
	padding: 20px 30px;
}

.img-item{
	height: 300px;
	width: 300px;
	margin: 0px 20px;
}

.container-item-nav {
    position: absolute;
    padding: 10px 0 0;
    margin: 0;
    top: 35%;
    border-radius: 0 5px 5px 0;
    background: #fff;
    width: 34px;
    height: 36px;
    text-align: center;
    font-size: 20px;
    color: #999;
    box-shadow: 0 0 4px 2px rgb(0 0 0 / 15%);
    transition: 0.2s;
	z-index: 999;
}

.container-item-nav:hover {
    transform: scale(1.2);
}

.fa-angle-left {
    left:-10px;
}

.fa-angle-right {
    right: -10px;
}

.muahangchitiet {
	background-color: transparent;
	outline: none;
	border: none;
	color: #ffff;
	font-size: 16px;
	text-transform: uppercase;
}

.search{
	position: relative;
	box-shadow: 0 0 40px rgba(51, 51, 51, .1);
	outline: none;
	width: 600px;
}
@media screen and (max-width: 1415px) {
	.search{
		width: 400px;
	}
}

.tuychon {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cart-sl {
	width: 80px;
	text-align: center;
}

.cart-up {
	margin-top: 20px;
	min-width: 50px;
	border: none;
	border-radius: 6px;
	background-color: #39c259;
	padding: 5px 10px;
}

.cart-up:hover {
	background-color: #2cbb4d;
}

.search input{
	height: 40px;
	text-indent: 25px;
	border: 2px solid #d6d4d4;
	font-size: 15px;
}
.search input:focus{
	box-shadow: none;
	border: 2px solid #f58634;
}
.search button{
	position: absolute;
	top: 5px;
	right: 5px;
	height: 30px;
	width: 50px;
	background: #f58634;
	border-radius: 5px;
}
.search button i {
	position: absolute;
    top: 5px;
    left: 16px;
    font-size: 20px;
}
.nav-item_login p{

color: #d06767;

}
.search button:hover {
	background: #ffd028;
}

.modal-title{margin:0;line-height:1.42857143}
.modal-body {
    position: relative;
    padding: 15px;
}
.form-control {
	font-size: 14px !important;
}

.form-group{margin-bottom:15px}
.toggle-pass-focus:not(:placeholder-shown) + .toggle-pass,
.toggle-pass-focus:focus +.toggle-pass {
	display: block;
}

.toggle-pass {
	position: absolute;
    top: 10px;
    right: 0px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
	display: none;
}

.eye {
	font-size: 20px;
	color: #000000;
}

.eye-close.show {
	display : block;
}
.eye-open.hide , .eye-close {
	display: none
}

.dhn{
	background: #f58634;
	color: #42040c;
	padding: 5px 20px;
	display: inline-block;
	margin-right: 30px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.2s;
}
.dhn:hover{
	color: rgb(255, 255, 255);
}
.clredt{
	color: #42040c;
	font-size: 20px;
	font-weight: 600;
}
.phone{
	color: #fff;
	font-family: sfu;
	display: inline-flex;
	align-items: center;
	margin: 0 30px;
}
.phone > img{
	width: 26px;
	margin-right: 5px;
}
.right-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-flex {
	margin-top: 30px;
}
.phone-nb{
	font-size: 22px;
}
.cart{
	display: inline-flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;
}
.cart span{
	position: absolute;
	bottom: -3px;
	color: #000;
}
.ul-main-menu{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	justify-content: space-between;
	font-family: Arial, Helvetica, sans-serif;
	transition: 0.5s;
}

.ul-main-menu-icon {
	margin-right: 5px;
    position: absolute;
    top: 9px;
    left: -22px;
}

.ul-main-menu > li{
	position: relative;
}
.ul-main-menu > li:first-child {
	margin-left: 20px;
}
.ul-main-menu > li > a{
	color: #006837;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 7px 0;
	display: inline-block;
	font-weight: 600;
}
.ul-main-menu > li > a > i{
	font-size: 15px;
}
.giohang-span {
	border-radius: 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #006837;
    transition: 0.5s;
    position: absolute;
    top: -8px;
    right: -35px;
    color: #ffff;
    text-align: center;
    font-size: 10px;
}

.cart-icon {
    position: absolute !important;
    margin-left: 3px !important;
    font-size: 15px !important;
    top: 10px !important;
    right: -22px !important;
}

.ul-main-menu > li:hover > a {
	color:#f58634;
}
.ul-main-menu > li:hover > span{
	background-color: #f58634;
}
.logo{
	display: inline-block;
	width: 255px;
	margin-left: 20px;
}
.right-header{
	width: calc(200% - -600px);
	margin-right: 0;
}
.has-sub{
	position: relative;
}

.has-sub i {
	font-size: 13px !important;
	position: absolute;
	top: 8px;
    right: -15px;
}
.ul-sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 5px #ccc;
	list-style-type: none;
	margin: 0;
	width: 200px;
	z-index: 9999;
	display: none;
	animation: tb 0.2s linear;
}

@keyframes tb {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.thuonghieu {
	width: 250px;
}

.ul-sub-menu {
	border-radius: 0px 10px 0px 0px;
	-webkit-border-radius: 0px 10px 0px 0px;
	-moz-border-radius: 0px 10px 0px 0px;
	box-shadow: -7px 9px 37px -2px rgba(0,0,0,0.3);
-webkit-box-shadow: -7px 9px 37px -2px rgba(0,0,0,0.3);
-moz-box-shadow: -7px 9px 37px -2px rgba(0,0,0,0.3);
}
.ul-sub-menu > li > a{
	display: block;
	padding: 10px 10px;
	color: #42040c;
	font-size: 17px;
	font-family: sfu;
	text-transform: capitalize;
}

.ul-sub-menu > li:hover > a{
	color:#f58634 ;
}

.ul-sub-menu-lv2 {
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	padding: 10px;
	box-shadow: 0 0 5px #ccc;
	list-style-type: none;
	margin: 0;
	width: 200px;
	z-index: 999;
	transform:translateX(calc(100% + 15px));
	display: none;
	animation: tb 0.2s linear;
	border-radius: 0px 10px 0px 0px;
	box-shadow: 0 2px 1px 0 rgb(0 0 0 / 25%);
}

.ul-sub-menu-lv2::after {
	width: 50px;
	height: 100px;
	background-color: transparent;
	z-index: 9999;
	position: absolute;
	top: 0;
	content: "";
	left: -25px;
	padding: 0;
	margin: 0;
}

.li-sub-menu-lv2 {
	display: block;
	padding: 10px 10px;
}

.link-sub-menu-lv2 {
	color: #42040c;
	font-size: 17px;
	font-family: sfu;
	text-transform: capitalize;
}

.link-sub-menu-lv2:hover {
	color: #f58634;
}

.has-sub:hover .ul-sub-menu,
.li-sub-menu:hover .ul-sub-menu-lv2{
	display: block;
}
.new-dm {
    position: absolute;
    color: #fff;
    top: -10px;
    right: 0;
    font-size: 11px;
    font-weight: 700;
    display: inline-block;
    background: #ffc805;
    padding: 1px 5px;
    border-radius: 4px;
}
.new-dm:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(102, 102, 102, 0);
    border-top-color: #ffc805;
    border-width: 4px;
    margin-left: -4px;
}
.clpink{
	color: #e74c3c;
}
.img-ck{
	width: 45px;
}
.ct-camket{
	width: calc(100% - 60px);
}
.ct-camket > p:last-child{
	font-size: 13px;
	margin-top: 5px;
}
.main-camket{
    padding: 30px 0;
    background: #fafafa;
}
.main-camket .flex-bw{
	align-items: flex-start;
}
.tit-pub {
    text-align: center;
    margin: 0;
    color: #42050c;
    margin-bottom: 10px;
    font-weight: 700;
}
.tit-pub:after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background: #c81529;
    margin: 0 auto;
    margin-top: 5px;
}

.item-pro {
	margin: 20px 0px;
	transition: 0.2s;
	position: relative;
	border-radius: 0px 0px 10px 10px;
	background-color: #f8f8f8;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ct-item-pro{
	padding: 10px;
	background: #ffff;
	border-top: none;
	text-align: center;
	text-transform: lowercase;
}
.item-pro:hover{
	box-shadow: 0 0 5px #555;
	overflow: hidden;
}

.home-product__item-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 30px;
    background-color: rgba(255,212,36,.9);
    text-align: center;
}

.home-product__item-new-chill {
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 36px;
    font-weight: bold;
    color: #f53e2d;
    font-family: Arial, Helvetica, sans-serif;
}

.home-product__item-new-chill::after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    top: 30px;
    position: absolute;
    border-color: transparent rgba(255,212,36,.9);
    border-style: solid;
    border-width: 0 20px 8px;
}

.new-pri {
	color: #dd3e53;
}

.old-pri{
	font-size: 14px;
	text-decoration: line-through;
	color: #948e76;
}

.home-product__item-img {
    background-repeat: no-repeat;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
	transition: 0.2s;
	position: relative;
}
.item-name {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    height: 40px;
    text-transform: capitalize;
	color: #740303;
}
.addtocart{
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #e74c3c;
	color: #e74c3c;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 14px;
}
.addtocart:hover{
	color: #fff;
	background: #e74c3c;
}
.viewall{
	display: inline-block;
	padding: 8px 15px;
	background: #c81529;
	color: #fff;
	font-size: 14px;
	border: 1px solid #c81529;
}
.viewall:hover{
	color: #c81529;
	background: #fff;
}
.main-bnck{
	background: url(../img/backck.jpg);
	padding: 30px 0;
	position: relative;
}
.main-bnck:before {
    right: 0;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    display: block;
    z-index: 0;
    /* background: url(../img/giadinh.png) center right no-repeat; */
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn-lienhe{
    display: inline-block;
    padding: 10px 15px 5px;
    color: #fff !important;
    background: #c81529;
    border: 1px solid #c81529;
}
.ct-bnck > h3{
	margin: 0;
	color: yellow;
	font-size: 28px;
	font-weight: 700;
}
.ct-bnck{
	position: relative;
}
.ct-bnck:before,
.ct-bnck:after{
    content: '';
    position: absolute;
    width: 76px;
    height: 76px;
    display: block;
    background: url(../img/khunga.png) no-repeat;
}
.ct-bnck:before {
    top: -30px;
    left: -30px;
}
.ct-bnck:after{
    transform: rotate(180deg);
    right: -30px;
    bottom: -30px;
}
.ul-ck{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.ul-ck li {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
}
.ul-ck li i{
	color: red;
	font-size: 10px;
	margin-right: 10px;
	margin-top: 3px; 
}
.flex-around{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.hotline{
	display: flex;
	align-items: center;
}
.shl-top{
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	margin-bottom: 5px;
}
.shl-bottom{
	font-size: 20px;
	font-weight: 700;
	color: #740303;
}
.tv-tit{
	font-size: 20px;
	font-weight: 700;
	color: #c81529;
	margin-bottom: 10px;
}
.main-hotline-tuvan{
	background: url(../img/backtuvan.jpg);
	padding: 20px 0;
}
.hotline > img{
	margin-right: 15px;
}
.form-tuvan{
	display: flex;
	align-items: center;
}
.ip-tuvan{
	margin-right: 10px;
	padding: 3px 10px;
	font-size: 14px;
	background: #ebebeb;
	border: none;
}
.gui {
    color: #fff;
    background: #740303;
    border: none;
    height: 26px;
    text-align: center;
    display: inline-block;
    padding: 0 10px;
}
.tit-nh{
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 17px;
}
.tit-nh:after{
	content: "";
	display: block;
	height: 1px;
	width: 50px;
	background: #ccc;
	margin-top: 5px;
}
.img-nh{
	width: 40%;
}
.ct-nh{
	width: calc(60% - 15px);
}
.flex-nh{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-top{
	background: #006837;
}

.tit-ft{
	margin: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #fcc945;
	font-weight: 700;
}
.fanpage{
	overflow: hidden;
}
.fanpage iframe{
	width: 100%;
	height: 214px;
}
.copyright{
	padding: 10px 0;
	background: #ebebeb;
}
.main-breac{
	background: #f2f2f2;
	padding: 10px 0;
}
.tit-aside{
	margin: 0;
	color: #fff;
	background: linear-gradient(0deg, rgb(0, 190, 102) 0%, rgb(0,104,55) 100%);
	padding: 10px 20px;
	font-weight: 700;
}
.tit-aside i{
	margin-right: 10px;
}
.ct-aside > a{
	display: flex;
	padding: 10px 20px;
	color: #000;
	align-items: baseline;
	justify-content: center;
    border-bottom: 1px solid #fff;
	height: 40px;
	position: relative;
}

.ct-aside > a.active{
	color: #006837;
	font-weight: bold;
}

.ct-aside > a:hover{
	color: #006837;
}

.ct-aside > a:hover .brand_lv2_list {
	display: block;
}

.brand_lv2_list {
	padding: 10px 20px;
	color: #000;
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background-color: #f2f2f2;
	z-index: 99;
	box-shadow: 0 2px 1px 0 rgb(0 0 0 / 25%);
	transform: translateX(100%);
	display: none;
	padding: 0;
	margin: 0;
}

.brand_lv2_item {
	display: flex;
	padding: 10px 20px;
	color: #000;
	align-items: baseline;
	justify-content: center;
    border-bottom: 1px solid #fff;
	height: 40px;
}

.brand_lv2_item span {
	cursor: text;
}

.brand_lv2_item:hover {
	color: red;
}


.block-aside{
	margin-bottom: 20px;
}
.ct-aside > a:last-child,
.brand_lv2_item:last-child{
	border-bottom: none;
}

.ct-aside > a > img,
.brand_lv2_item > img {
	width: 8px;
	margin-right: 10px;
}
.ct-aside > a > span,
.brand_lv2_item > span {
	width: calc(100% - 18px);
	text-transform: capitalize;
}
.ct-aside {
    background: #f2f2f2;
    padding: 0px;
}
.block-list-news {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.news-xt {
    font-weight: 500;
}
.news-xt i {
    color: #ed1c24;
    margin-right: 10px;
}
.pagi-news {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagi-news > span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 3px;
    font-size: 13px;
    font-weight: 700;
}
.pagi-news > span {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 3px;
    font-size: 13px;
    font-weight: 700;
}
.pagi-news > span.acti-pagi > a {
    color: #000;
}

.pagi-news > span > a {
    color: #ffb564;
}
.donvi{
	font-size: 15px;
	color: #000;
}
.clred{
	color: #c81529;
}
.gia-sp{
	margin-right: 50px;
}
.quanti{
	display: inline-flex;
	align-items: center;
	position: relative;
}
.quanti > input{
	width: 100px;
	height: 32px;
}
.btn-minus{
	background: none;
	border: none;
	line-height: 32px;
	height: 32px;
	outline: unset;
	font-size: 20px;
}
.quanti-btn-minus {
    position: absolute;
}
.btn-plus{
	background: none;
	border: none;
	height: 32px;
	line-height: 32px;
	font-size: 20px;
	outline: unset;
}
.btn-soluong {
	font-size: 20px;
}
.quanti-btn-plus {
    position: absolute;
    right: 0;
}
.quanti-buy {
    display: flex;
    align-items: center;
}
.but-buy {
    display: inline-flex;
    height: 32px;
    background: #ed1c24;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #fff;
	margin-top: 30px;
	border-radius: 5px;
	overflow: hidden;
}
.but-buy i{
    display: inline-flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background: #c81529;
}

.but-buy input {
	outline: none;
	border: none;
	background-color: transparent;
	color: #ffff;
	font-size: 20px;
}

.soluong span {
	padding: 5px 10px;
}

.soluong input {
	width: 100px;
}
a.but-buy span{
	padding: 0 20px;
	display: inline-block;
}
.p-tuvan img{
	margin-right: 15px;
}
.p-tuvan span{
	margin-left: 5px;
}
.tabs-sanpham .nav-tabs>li.active>a, 
.tabs-sanpham .nav-tabs>li.active>a:focus, 
.tabs-sanpham .nav-tabs>li.active>a:hover{
	color: #ed1c24;
}
.tabs-sanpham .nav-tabs>li>a{
	color: #000;
}
.tit-pr{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #b2b2b2;
	position: relative;
	padding-bottom: 15px;
}
.tit-pr:after{
	content: "";
	display: block;
	width: 70px;
	height: 5px;
	background: #c81529;
	position: absolute;
	bottom: -3px;
}
.prev-pr{
	color: #b2b2b2;
	margin-right: 10px;
}
.next-pr{
	color: #b2b2b2;
}
.bang-giohang table{
	width: 100%;
	border: 2px solid #ccc;
}
.bang-giohang table tr,
.bang-giohang table tr td,
.bang-giohang table tr th{
	padding: 10px;
	border: 1px #ccc dashed;
	text-align: center;
}

.check-out {
	width: 1200px;
	margin: 30px auto;
}

.a-thanhtoan {
    display: inline-block;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #bf1930;
    border-radius: 7px;
    border: none;
	transition: 0.2s;
}

.a-thanhtoan:hover {
    background: #dd3e53;
	transform: translateY(-2px);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.lSSlideOuter .lSPager.lSGallery img{
	width: 100%;
}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #3b070b;
    border: none;
    border-radius: 50%;
    height: 50px;
    padding: 0;
    width: 50px;
    z-index: 999;
}
.back-to-top span {
    position: relative;
    top: 15px;
}

/* phân cách trang */

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1200px;
}

.pagination-item {
    list-style: none;
    margin: 0 8px;
}

.pagination-item__link {
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
    color: #939393;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    transition: 0.15s;
}

.pagination-item__link-acctive .pagination-item__link {
    background-color: #006837;
    color: #fff;
}

.pagination-item__link.disabled {
	display: none;
}

.pagination-item__link:hover {
    background-color: rgb(218, 218, 218);
    transform: scale(1.2);
    color: #006837;
}

.home-product__pagination {
    margin: 50px 0 40px 0;
}

.page-right, .page-left {
	height: 30px;
	line-height: 30px;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    font-size: 20px;
	min-width: 200px;
}

.btn-success:hover {
color: #fff;
background-color: #218838;
border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
color: #fff;
background-color: #28a745;
border-color: #28a745;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
color: #fff;
background-color: #1e7e34;
border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.thanhtoan {
	width: 100%;
	display: block;
}

.tt {
	min-width: 200px;
}

#right{float:left;}div.tieude_giua{color:#6b0909;text-align:center;font-size:40px;line-height:60px;font-family:'UVNAiCap_R';text-transform:uppercase;padding-bottom:15px;margin-bottom:35px;}.box_news{margin-bottom:20px;color:rgba(153,153,153,1);font-size:13px;float:left;width:100%;}.tv-tit{font-size:20px;font-weight:700;color:#c81529;margin-bottom:10px;}.main-hotline-tuvan{padding:20px 0;}.hotline>img{margin-right:15px;}.form-tuvan{display:flex;align-items:center;}.ip-tuvan{margin-right:10px;padding:3px 10px;font-size:14px;background:#ebebeb;border:none;}.gui{color:#fff;background:#740303;border:none;height:26px;text-align:center;display:inline-block;padding:0 10px;}.tit-nh{font-weight:700;margin-bottom:10px;font-size:17px;}.tit-nh:after{content:"";display:block;height:1px;width:50px;background:#ccc;margin-top:5px;}.img-nh{width:40%;}.ct-nh{width:calc(60% - 15px);}.flex-nh{display:flex;justify-content:space-between;align-items:flex-start;}.map_color{border:4px solid rgb(119,100,100,0.6);width:100%;height:auto;border-radius:9px;overflow:hidden;}.tit-ft{margin:0;margin-bottom:20px;text-transform:uppercase;color:#fcc945;font-weight:700;}.fanpage{overflow:hidden;}.fanpage iframe{width:100%;height:214px;}.copyright{padding:10px 0;background:#ebebeb;}.main-breac{background:#ffffff;padding:10px 0;}

@media (max-width: 1199px){
    .show1199{display: block;}
    .hide1199{display: none;}
    a.but-buy span{
		font-size: 11px;
		padding: 0 10px;
    }
	.logo {
		width: 13vw;
		margin-left: 10px;
	}
	.has-sub i {
		top: 8px;
	}

	.cart-icon {
		top: 0;
		right: 0;
	}
}

@media (max-width: 991px){
    .show991{display: block;}
    .hide991{display: none;}
    body{transition: all 0.3s;}
	.logo {
		width: 80px;
		position: absolute;
		top: 50%;
		right: 50%;
		transform: translate(50%,-50%);
	}

	.giohang-icon-tablet {
		color: #00502b;
		font-size: 30px;
	}

	ul {
		padding: 0 !important;
	}

	.main-camket {
		margin-top: 0px !important;
	}

	.sider-bar-tablet {
		position: relative;
		height: 80px;
		background-color: #ffffff;
		border-bottom: 3px solid #00502b;
	}

    .sidenav {
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
		bottom: 0 !important;
		background-color: #f8f8f8;
        overflow-x: hidden;
        transition: 0.3s;
        z-index: 99999;
		border-right: 1px dashed #00502b;
		transform: translateX(-1px);
    }
    .sidenav .closebtn {
        font-size: 25px;
        display: block;
        align-items: center;
        width: 40px;
        background: #f5821f;
        color: #fff;
        margin: 0 auto;
        text-align: center;
        padding: 5px 0;
    }
    .menu-mobile {
		margin-top: 100px;
		border-top-right-radius: 80px;
        text-decoration: none;
        color: #818181;
        transition: 0.3s;
        list-style-type: none !important;
    }
	.mobile-menu-list li a {
		padding: 15px 30px !important;
	}
    .menu-mobile li {
        margin: 0;
        background: unset;
        border: none;
        border-radius: 0;
        box-shadow: unset;
        border-bottom: 1px solid #fff;
    }
    .menu-mobile a {
        padding: 15px 0 15px 20px;
        display: inline-block;
        width: calc(100% - 50px);
        color: #00502b;
		font-weight: 700;
    }
    .menu-mobile .sub-menu-mb .phelp a:first-child{
        padding: 15px 0 15px 20px;
        width: calc(100% - 50px);
    }
    .menu-mobile .sub-menu-mb a{
        width: 100%;
        padding: 15px 30px;
        background: #f8f8f8;
    }
    .hassub-mb .phelp .a-icon {
        position: absolute;
        right: 15px;
        top: calc(50% - 7.5px);
        z-index: 9999;
        text-align: center;
        width: 20px;
        padding: 0;
    }
    .phelp {
        position: relative;
    }
    .phelp > a:first-child{
        border-right: 1px solid #fff;
    }
    .sub-menu-mb{
        padding: 0;
        list-style-type: none;
        margin: 0;
    }
    .sub-menu-mb > li{
        border-top: 1px solid #fff;
        border-bottom: none;
        background: rgba(255, 255, 255, 0.8);
		
    }

	.sp-sn i , .sp-cn i {
		height: 80px;
		line-height: 80px;
	}
    .sub-menu-mb > li:last-child{
        border-bottom: none;
    }
    .push-left {
        position: relative;
        left: 280px;
        transition: all 0.3s;
        right: unset;
    }
    .menu-mobile li:not(.hassub-mb) a{
    	width: 100%;
    	padding: 15px 20px;
		background-color: #f8f8f8;
    }

    .bl-camket{
    	margin-bottom: 20px;
    }
    .flex-nh{
    	margin-bottom: 20px;
    }
    .flex-order{
    	display: flex;
    	flex-wrap: wrap;
    }

    .main-bnck:before{
    	content: unset;
    }
    .ct-bnck {
	    padding: 40px;
	}
	.ct-bnck:before {
	    top: 0;
	    left: 0;
	}
	.ct-bnck:after {
		bottom: 0;
		right: 0;
	}

	.search{
		width: 300px;
	}
}

@media (max-width: 767px){
    .show767{display: block;}
    .hide767{display: none;}
    .flex-around{
    	display: block;
    	text-align: center;
    }
	.login-logo {
		position: absolute;
		top: 100px;
		right: 0;
		width: 100%;
		z-index: 1;
		filter: blur(2px);
		opacity: 0.8;
		
	}
    .hotline{
    	justify-content: center;
    }
    .form-tuvan{
    	justify-content: center;
    }
    .copyright .flex-bw{
    	display: block;
    }
    .bang-giohang table tr td:first-child{
		display: none;
	}

	.bang-giohang table tr td:nth-child(3){
		width: 70%;
		margin: 0 auto;
	}
	.bang-giohang table tr td{
		display: block;
		border: none;
		position: relative;
	}
	.bang-giohang table tr:first-child{
		display: none;
	}

	.bang-giohang table td::before {
		content: attr(data-label) ;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        font-size: 1.3rem;
		position: absolute;
		left: 40px;
	}
	.mapgg iframe{
		height: 400px;
	}
	.ct-bnck {
	    padding: 30px;
	}
	.item-pro {
		margin: 30px 10px 0px;
	}
	.order-2{
    	order: 2;
    	width: 100%;
    }
    .order-1{
    	order: 1;
    	width: 100%;
    }
	.search {
		width: 250px !important;
	}
	.des-dmbv {
		padding: 0px 10px;
	}

	.tablet-grid {
		display: grid;
		justify-content: flex-start;
		grid-auto-columns: 400px;
		grid-auto-flow: column;
		grid-gap: 0 50px;
		overflow: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		-webkit-overflow-scrolling: touch;
		scroll-padding: 1rem;
		grid-template-columns: unset;
	}

	.tablet-grid::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	.tablet-grid > *{
		scroll-snap-align: start;
		width: 100%;
	}
}

@media (max-width: 480px){
    .show480{display: block;}
    .hide480{display: none;}
    .fwmb{width: 100%;}

	hr {
		display: none;
	}

	.search {
		margin-top: 10px;;
	}

	.mr-mobile-left{
		margin-left: 20px;
	}

	.header-flex i {
		font-size: 7vw;
		color: rgb(255, 255, 255);
		float: right;
	}
	.flex-bw {
		width: 100%;
	}
    .phone-nb {
	    font-size: 22px;
	}
	.dhn{
		padding: 5px 10px;
		font-size: 12px;
		margin-right: 30px;
	}
	.form-tuvan{
		flex-direction: column;
	}
	.ip-tuvan{
		margin: 0;
		margin-bottom: 10px;
	}
	.flex-nh{
		display: block;
	}
	.ct-nh{
		width: 100%;
		margin-top: 20px;
	}
	.tit-ft{
		margin-bottom: 10px;
	}
	.mapgg iframe{
		height: 300px;
	}
	.quanti-buy{
		display: block;
	}
	.quanti-buy > p{
		margin-right: 0 !important;
		margin-bottom: 10px;
	}

	a.but-buy span{
		font-size: 15px;
	}
	.tabs-sanpham .nav-tabs>li{
		width: 100%;
	}
	.tabs-sanpham .nav-tabs>li>a{
		border: none !important;
		margin: 0;
		background: #e0e0e0;
		border-radius: 0;
	}
	.tabs-sanpham .nav-tabs{
		border: none;
	}
	.tabs-sanpham .nav-tabs>li.active>a, .tabs-sanpham .nav-tabs>li.active>a:focus, .tabs-sanpham .nav-tabs>li.active>a:hover{
		background: #e8e8e8;
	}
	.tit-pr h3{
		font-size: 20px;
	}
	.ct-item-pro .flex-bw{
		display: block;
	}
	.addtocart{
		font-size: 14px;
	}
	.list-spc .col-xs-6{
		padding: 0 6px;
	}
	.ct-item-pro{
		margin-bottom: 15px;
	}
	.ct-bnck {
	    padding: 20px;
	}

	.tablet-grid {
		display: grid;
		justify-content: flex-start;
		grid-auto-columns: 70%;
		grid-auto-flow: column;
		grid-gap: 0 50px;
		overflow: auto;
		overflow-y: hidden;
		scroll-snap-type: x mandatory;
		scroll-snap-stop: always;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		-webkit-overflow-scrolling: touch;
		scroll-padding: 1rem;
		grid-template-columns: unset;
	}

	.tablet-grid::-webkit-scrollbar {
		display: none;
		width: 0;
	}
	.tablet-grid > *{
		scroll-snap-align: start;
		width: 100%;
	}

	.phanchia {
		border-right: transparent;
	}

	.item-pro {
		margin: 10px 0;
		padding: 0;
	}

	.hinhthuc-thanhtoan {
		width: 100%;
		height: 400px;
	}

	.snip1547 {
		background-color: transparent;
		border: none;
		color: #ffffff;
		cursor: pointer;
		font-family: 'Poppins', Arial, sans-serif;
		font-size: 10.5px;
		font-weight: 500;
		line-height: 48px;
		margin: 10px 0px;
		outline: none;
		padding: 0px 40px 0 0;
		position: relative;
		text-transform: uppercase;
	}

	.table-chitiet tr td:first-child{
		display: none;
	}
	.table-chitiet tr td{
		display: block;
		border: none;
		position: relative;
	}
	.table-chitiet tr{
		display: block;
	}

	.table-chitiet td::before {
		content: attr(data-label) ;
        font-weight: bold;
        text-transform: uppercase;
        color: #000000;
        font-size: 1.3rem;
		position: absolute;
		left: 40px;
	}
	.profile-tabel {
		width: 350px !important;
		display: block;
	}

	.profile-tabel tr {
		width: 350px !important;
		
	}
	.profile-tabel tr th ,
	.profile-tabel tr td:nth-child(2) {
		display: none;
	}
	.profile-tabel tr td {
		width: 350px !important;
	}
	.profile-tabel tr td:last-child {
		display: block;
	}
	.editprofile {
		width: 300px;
	}
	.nav-tabs {
		display: block;
	}

	.nav-tabs li {
		padding: 20px 0px;
	}
}

.form-input {
	margin: 20px 0;
	height: 50px;
}

.modal-title {
	font-size: 20px;
}

.information-wrapper input,
.information-wrapper textarea,
.information-wrapper select {
    width: 100%;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 13px 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-bottom: 1px solid #F45C5D;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.31);
}

button.submit.check_out {
    padding: 12px 25px;
    letter-spacing: 1px;
    background: #0879c9;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

button.submit.check_out:hover {
    background: #F45C5D;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

select.form-control.option-w3ls {
    width: 100%;
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #ccc;
    letter-spacing: 1px;
    text-align: left;
}

.chuadangnhap {
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin-left: 20px;
	color: #1c7430;
}

/* new */

aside {
	color: #fff;
	width: 100%;
	padding-left: 20px;
	height: auto;
	background-image: linear-gradient(30deg , #c0cd8a, #acc876);
	
  }
  
  aside a {
	font-size: 12px;
	color: rgb(17, 14, 14);
	display: block;
	padding: 6px;
	padding-left: 30px;
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
  }
  
  aside a:hover {
	color: #0505ff;
	background: rgb(130, 128, 128);
	outline: none;
	position: relative;
	background-color: #fff;
	border-radius: 20px;
  }
  
  aside a i {
	margin-right: 5px;
  }

  aside p {
	margin: 0;
	padding: 40px 0;
  }
  
  .social {
	height: 10px;  
  }
  
  .social i:before {
	width: 14px;
	height: 14px;
	font-size: 14px;
	position: fixed;
	color: #fff;
	background: #0077B5;
	padding: 10px;
	border-radius: 50%;
	top:5px;
	right:5px;
}

footer .social-links {
    text-align: center;
    margin: 10px 0px;
}
footer .social-btn {
    display: inline-block;
    width: 20px;
    height: 50px;
    background: #2f4f4f;
    margin: 10px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 10px 0px #909090;
    color: #ffffff;
    overflow: hidden;
    position: relative;
    border: 1px dotted #fff;
}
footer .social-btn i {
    line-height: 50px;
    font-size: 22px;
    transition: 0.2s linear;
}
footer .social-btn:hover i {
    transform: scale(1.9);
    color: #ff5722;
}
footer .social-btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #ffffff;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
footer .social-btn:hover::before {
    animation: effect 0.6s 1;
    top: -10%;
    left: -10%;
}
footer p a {
    color: #ff5722;
}

/*-- Hover Animation Effect --*/
@keyframes effect {
    0% {
        left: -120%;
        top: 100%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}


/*-- Footer Responsive CSS --*/
@media (max-width: 576px){
footer .social-btn {
    width: 40px;
    height: 40px;
    margin: 5px;
}
footer .social-btn i {
    line-height: 40px;
    font-size: 18px;
}
}
/*-- Footer CSS --*/




.color_login{
	color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 30px !important;
}


/* phần đăng kí tài khoản */
:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: .75rem;
  }
  
  #form_login {
background-image:  url(../img/login.jpg);
background-size: cover;

  }

  .card {
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(113, 113, 113, 0.8);

  }
  
  .card-signin {
	border: 0;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
  }
  
  .card-signin .card-title {
	margin-bottom: 2rem;
	font-weight: 300;
	font-size: 1.5rem;
  }
  
  .card-signin .card-img-left {
	width: 50vw;
	/* Link to your background image using in the property below! */
	 background: url('../img/nen2.jpg');
	background-size: cover;
	
  }
  
  .card-signin .card-body {
	padding: 2rem;
  }
  
  .form-signin {
	width: 100%;
  }
  
  .form-signin .btn {
	font-size: 80%;
	border-radius: 5rem;
	letter-spacing: .1rem;
	font-weight: bold;
	padding: 1rem;
	transition: all 0.2s;
  }
  
  .form-label-group {
	position: relative;
	margin-bottom: 1rem;
  }
  
  .form-label-group input {
	height: auto;
	border-radius: 2rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
  }
  
  .form-label-group>label {
	/* position: absolute; */
	/* top: 0;
	left: 0; */
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #59738d;
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
  }
  
.form-label-group input::-webkit-input-placeholder {
color: transparent;
}

.form-label-group input:-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-ms-input-placeholder {
color: transparent;
}

.form-label-group input::-moz-placeholder {
color: transparent;
}

.form-label-group input::placeholder {
color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
padding-top: calc(var(--input-padding-y) / 3);
padding-bottom: calc(var(--input-padding-y) / 3);
font-size: 16px;
color: rgb(255, 3, 3);
}

.btn-google {
color: white;
background-color: #ea4335;
}

.btn-facebook {
color: white;
background-color: #3b5998;
}

.i_color{
	color: red;
}
