RewriteEngine On

RewriteRule "index.html" "index.php"
# RewriteRule "sanpham.html" "sanpham.php"

# RewriteRule "^([a-zA-Z0-9_-]+)/([0-9]+).html$" "?proid=$1"
# RewriteRule "^([a-zA-Z0-9_-]+)/([0-9]+).html$" "?catid=$1"

RewriteRule "^san-pham-theo-danh-muc/([0-9]+).html$" "productbycat.php?catid=$1"

